fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-pinecone
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
pinecone
boto3
python-docx
PyMuPDF
docx2txt
unstructured
